.portfolio {
  display: grid;
  grid-template-rows: 8% auto;
  background: white;
}
.portfolioComponent {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  background: white;
}

.tech {
  display: grid;
  grid-template-columns: minmax(5%, 18%) 1fr;
  li{
    font-size: .7rem;
    height: min-content;
  }
  // grid-template-columns: 10% auto;
}

.description_img {
  display: grid;
  grid-row: span 1;
  border-top: #000000 2px solid;
  border-bottom: #000000 2px solid;
  grid-template-columns: repeat(2, 1fr);
}
.centerimg {
  display: grid;
  grid-row: span 1;
  height: auto;
  justify-content: center;
  align-items: center;
  background: white;
  border-bottom: 2px solid #000000;
}

.footer {
  display: grid;
  grid-row: span 1;
  height: 5%;
  background: white;
}
///// Responsive //////

//// Mobile ///

@media screen and (max-width: 768px) {
  .portfolio {
    display: grid;
    grid-template-rows: 5% auto;
    background: white;
  }
  .tech  {
    display: grid;
    grid-row: span 1;
    grid-template-columns: none;
    grid-template-rows: auto auto;
    border-right: none;
    div:first-child {
      border-bottom: #000000 2px solid;
    }
  }
  
  .description_img {
    display: grid;
    grid-row: span 1;
    grid-template-columns: none;
    grid-template-rows: auto auto;
    border-right: none;
    div:first-child {
      border-bottom: #000000 2px solid;
    }
  }

  .footer {
    display: grid;
    grid-row: span 1;
    height: 3%;
  }
}

//Loader
.loader {
  position: relative;
  display: flex;
}
.loader:before,
.loader:after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  border-radius: 50%;
  color: #000000;
  background: currentColor;
  box-shadow: 50px 0, -50px 0;
  animation: left 1s infinite ease-in-out;
}
.loader:after {
  color: #ff3d00;
  animation: right 1.1s infinite ease-in-out;
}

@keyframes right {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes left {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
