 $--axis-x: 1px;
 $--axis-y: 1rem;
 $--delay: 10;
 $--color-black: black;

.rainbowlist{
  counter-reset: rainbow;
  height: 100vh;
  position: absolute;
  inset: 530px 20px auto auto;
  list-style: none;
  padding: 0;
  margin: 0 auto;  

.list {
  counter-increment: rainbow;
  font-size: 3rem;
  
  @for $i from 1 through 5 {
   &:nth-child(#{$i}) {
    animation-delay: calc( #{$i} / 10 * 1s);
    z-index: #{$i * 10};
   }
   &:not(:first-child){
    position: absolute;
    top: 0;
   }
    
  }
 }
}
.animated {
  animation: rainbow 1.5s ease-in-out;
}
@keyframes rainbow {
 0% {
  transform: translateY(-200%);
 }
 80% {
  transform: translateY(0);
 }
 90% {
  transform: translateY(0%);
 }
 100% {
  transform: translateY(0);
  opacity: 0;
 }
}
