 $--axis-x: 1px;
 $--axis-y: 1rem;
 $--delay: 10;
 $--color-black: black;


.rainbowlist{
  counter-reset: rainbow;
  height: 100px;
  position: absolute;
  inset: 480px 25px auto auto;
  list-style: none;
  padding: 0;
  margin: 0 auto;  

.list {
  counter-increment: rainbow;
  overflow-y: hidden;
  visibility: hidden;
  &:first-child {
    visibility: visible;
  }
  font-size: 3rem;
  @for $i from 1 through 10 {
   &:nth-child(#{$i}) {
    animation-delay: calc( #{$i} / 10 * 1s);
    z-index: #{$i * 10};
   }
   &:not(:first-child){
    position: absolute;
    top: 0;
   }  
  }
 }
}
.animated {
  animation: rainbow 2s ease-in-out;
}
@keyframes rainbow {
 0% {
  transform: translateY(-300%);
  visibility: visible;
  opacity: 0;
 }
 80% {
  transform: translateY(0);
  visibility: visible;
  opacity: 60;
 }
 90% {
  transform: translateY(0%);
  visibility: visible;
  opacity: 80;
 }
 100% {
  transform: translateY(0);
  visibility: hidden;
  opacity: 100;
 }
}
.rainbowlist .list:first-child.animated {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .rainbowlist {
    position: relative;
    grid-row: span 2;
    grid-column: span 2;
    margin-left: 35px;
    margin-top: 30px;
    height: 100px;
    width: 100%;
    gap: 1rem;
    list-style: none;
    padding: 0;
    
  }
  .rainbowlist .list {
    font-size: 4rem;
  }
}