@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.stacked-text {
  position: absolute;

  width: 350px;
  height: 302.42px;
  top: 271px;
  left: 20px;
  justify-content: center;
  align-items: center;
  color: white; /* Color blanco para el texto */
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

.stacked-text::before,
.stacked-text::after {
  content: 'manuel blanco';
  position: absolute;
  left: 0;
  right: 0;
  color: white; /* Color inicial del texto apilado */
  opacity: 0.2; /* Transparencia inicial */
}

.stacked-text::before {
  top: -10px;
  opacity: 0.8;
}

.stacked-text::after {
  top: 10px;
  opacity: 0.4;
}
